<div class="wmd-panel">
	<div id="wmd-button-bar">
	</div>
	<textarea class="wmd-input" id="wmd-input">
	</textarea>
</div>

<div class="wmd-panel" id="preview-label">
	Preview:
</div>
<div class="wmd-panel wmd-preview" id="wmd-preview">
</div>