<div class="wmd-panel">
	<div id="wmd-button-bar">
	</div>
	<!-- The textarea tag needs to open and close on one line in order to
			 avoid having any whitespace as actual starting text -->
	<textarea class="wmd-input" id="wmd-input"></textarea>
</div>

<div class="wmd-panel" id="preview-label">
	Preview:
</div>
<div class="wmd-panel wmd-preview" id="wmd-preview">
</div>