<h1>Question Show Placeholder</h1>

<div class="show-question-title" id="question-title-<%=@question.id%>">
<h2><%= @question.title %></h2>
</div>
<div class = "show-question-body" id="question-body-<%=@question.id%>">
<%= @question.body %>
</div>