<p id="notice"><%= notice %></p>

<% @questions = @tag.questions %>
<% header_text = "Questions tagged #{@tag.name}: #{@questions.length}"%>

<%= render "questions/index_corridor", header_text: header_text %>