// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answer-table {
	width: 100%;
	padding-right: 10px;
}

/* TODO: refactor this! */
.answer-page-wmd {
	width: 60%;
	padding-right: 10px;
}

.answer-comments {
	margin-left: 30px;
}

.single-answer-comment {
	border-bottom: 1px solid #aaa;
}

.single-answer {
	width: 100%;
	border-bottom: 1px solid #aaa;
}