// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// TODO: Organize this mess


.corridor {
	margin-left: 15%;
	margin-right: 15%;
}

.corridor-table {
	width: 100%;
}

.logo-block {
	background: #000000;
}

.content-column {
	width: 80%;
	background: #eeeeff;
}

.related-column {
	background: #edeeee;
}

.question-block {

}

.tab-bar {
	height: 30px;
	background: #ecdaec;
}

/* required for asker-block to properly align to the right */
.q-content-cell {
	width: 100%;
}

.asker-block {
	width: 100%;
	text-align: right;
}

// OLD CSS below this point

.index-question-list {
  margin-left: 20%;
	margin-right: 20%;
}

.index-question-title {
	a:link {color:#0050D0; text-decoration: none; }    /* unvisited link */
	a:visited {color:#0050D0; text-decoration: none; } /* visited link */
	a:hover {color:#0050D0; text-decoration: underline;}   /* mouse over link */
	a:active {color:#0050D0; text-decoration: underline;}  /* selected link */
}

.index-question-block {
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #aaa;
}

.show-question-master {
	/*       Top Rit Btm Lft  */
	padding: 0px 0px 0px 10px;
	a:link { text-decoration: none; }    /* unvisited link */
	a:visited { text-decoration: none; } /* visited link */
	a:hover { text-decoration: underline; }   /* mouse over link */
	a:active { text-decoration: underline; }  /* selected link */
}

.show-question-title {
	margin-right: 10px;
	border-bottom: 1px solid #aaa;
}

.show-question-author {
	text-align: right;
	padding-right: 30px;
}

.show-answer-count {
	margin: 0 10px 0 0;
  border-bottom: 1px solid #aaa;
}

.show-question-body {
	border-bottom: 1px solid #aaa;
}

.show-question-table {
	width: 100%;
}

.question-comment {
	border-bottom: 1px solid #aaa;
}

.submit-button {
	text-align: right;
}

.q-stats-block {
	color: #666;
	background-color: #ddd;
}

.answer-count-block {
	color: yellow;
	background-color: green;
	/* the bottom margin doesn't actually apply */
	/* relative position within outer div is used as a fixed */
	margin: 5px 5px 5px 5px;
	padding: 3px 3px 3px 3px;
	position: relative;
	bottom: 5px;
}

.rating-num {
	font-weight: bolder;
}
.answers-num {
	font-weight: bolder;
}

#question_title {
	width: 100%;
}