// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// TODO: Organize this mess


.corridor {
	margin-left: 15%;
	margin-right: 15%;
}

.corridor-table {
	width: 100%;
}

.logo-block {
	background: #000000;
}

.content-column {
	width: 80%;
	background: #eeeeff;
}

.related-column {
	background: #edeeee;
}

.question-block {

}

.tab-bar {
	height: 30px;
	background: #ecdaec;
}

.answer-container {

}

.answer-block {

}








// OLD CSS below this point
.index-head {
}

.index-question-list {
  margin-left: 20%;
	margin-right: 20%;
}

.index-question-title {
	a:link {color:#0050D0; text-decoration: none; }    /* unvisited link */
	a:visited {color:#0050D0; text-decoration: none; } /* visited link */
	a:hover {color:#0050D0; text-decoration: underline;}   /* mouse over link */
	a:active {color:#0050D0; text-decoration: underline;}  /* selected link */
}

.tag-show {
	background-color: #e0eaf1;
	border-bottom: 2px solid #b3cee1;
	border-right: 2px solid #b3cee1;
}

.index-question-block {
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #aaa;
}

.show-question-master {
	/*       Top Rit Btm Lft  */
	padding: 0px 0px 0px 10px;
	a:link { text-decoration: none; }    /* unvisited link */
	a:visited { text-decoration: none; } /* visited link */
	a:hover { text-decoration: underline; }   /* mouse over link */
	a:active { text-decoration: underline; }  /* selected link */
}

.show-question-title {
	margin-right: 10px;
	border-bottom: 1px solid #aaa;
}

.show-question-author {
	text-align: right;
	padding-right: 30px;
}

.show-answer-count {
	margin: 0 10px 0 0;
  border-bottom: 1px solid #aaa;
}

.vote-cell {
	width: 45px;
	font-size: 8pt;
	text-align: center;
}

.vote-block {
	/* border: 2px solid #f00; */
	height: 60px;
	/*
	background-position: 0px -265px;
	background-color: transparent;
	background-image: url('SO_Sprites.png');
	*/
}

.vote-block-top {
	background-position: 0px -265px;
	background-color: transparent;
	background-image: url('SO_Sprites.png');
	cursor: pointer;
}

.vote-block-bot {
	background-position: 0px -305px;
	background-color: transparent;
	background-image: url('SO_Sprites.png');
	cursor: pointer;
}

.vote-sub-block {
	/* to align, height + border * 2 of sub-block must == height of block */
	/* border: 1px solid #00f; */
	height: 20px;
}

.submit-button {
	text-align: right;
}

.tag-show {
	padding: 2px;
	margin: 2px;
	a { color: #000; }
	a:link { text-decoration: none; }    /* unvisited link */
	a:visited { text-decoration: none; } /* visited link */
	a:hover { text-decoration: underline; }   /* mouse over link */
	a:active { text-decoration: underline; }  /* selected link */
}


.q-stats-block {
	color: #666;
	background-color: #ddd;
}

.answer-count-block {
	color: yellow;
	background-color: green;
	/* the bottom margin doesn't actually apply */
	/* relative position within outer div is used as a fixed */
	margin: 5px 5px 5px 5px;
	padding: 3px 3px 3px 3px;
	position: relative;
	bottom: 5px;
}

.rating-num {
	font-weight: bolder;
}
.answers-num {
	font-weight: bolder;
}

#question_title {
	width: 100%;
}

.answer-table {
	width: 100%;
	padding-right: 10px;
}

/* TODO: refactor this! */
.answer-page-wmd {
	width: 60%;
	padding-right: 10px;
}

.answer-comments {
	margin-left: 30px;
}

.single-answer-comment {
	border-bottom: 1px solid #aaa;
}

.single-answer {
	width: 100%;
	border-bottom: 1px solid #aaa;
}

.my-vote-top {
	background-position: 0px -230px;
	/*background-color: transparent;
	background-image: url('SO_Sprites.png');*/
}

.my-vote-bot {
	background-position: 0px -335px;
	/*background-color: transparent;
	background-image: url('SO_Sprites.png');*/
}