// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag-show {
	background-color: #e0eaf1;
	border-bottom: 2px solid #b3cee1;
	border-right: 2px solid #b3cee1;
	padding: 2px;
	margin: 2px;
	:hover {
		background-color: #b3cee1;
	}
	a:link { color: #000; text-decoration: none; }
	a:visited { color: #000; text-decoration: none; }
	a:hover { color: #000; text-decoration: none; }
	a:active { color: #000; text-decoration: none; } 
}